<nav class="navbar navbar-expand-lg" id="menuLogo">
  <div class="container-fluid">
    <a href="../Home/Home.html">
      <img src="./assets/logo.svg" class="imgNav">
    </a>

    <button class="navbar-toggler btnF" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <img src="./assets/btn.svg" class="img fluid btnMenu">


  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" id="list-menu">

      <li class="nav-item">
        <a class="nav-link" routerLink="">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">sucess stories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">join us</a>
      </li>

      <li class="nav-item">
        <a id="btnNav" class="nav-link" routerLink="">Schedule A Call</a>
      </li>

    </ul>
  </div>
</div>
</nav>
