<nav class="navbar fixed-top navbar-expand-lg mb-4" id="menuLogo">
  <div class="container-fluid">

    <img src="../../../../assets/icon/menuIcon.svg" class="imgNav">


    <a class="menuimg" routerLink="">organic</a>

    <button class="navbar-toggler btnF" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <img src="../../../../assets/icon/favicon.ico" class="img fluid btnMenu">


  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto" id="list-menu">

      <li class="nav-item">
        <a class="nav-link" routerLink="">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">about us</a>
      </li>

      <li>
        <button type="button" id="btnNav"  routerLink="">contact</button>
      </li>



    </ul>
  </div>
</div>
</nav>
