
<section class="section1" id="section1">
  <div class="container-fluid nature p-0">
    <div class="grid-5 menuHome1">
      <div class="conteudoMenu">
        <span class="title" data-aos="fade-right" data-aos-delay="300">Healthy life with</span>
        <br>
        <span class="titleHiper" data-aos="fade-right" data-aos-delay="400">Nature Organic</span>
        <br>
        <span class="conteudospan" data-aos="fade-right" data-aos-delay="450">
          Vegetables are the edible parts of a plant
          that is used in cooking or can be eaten now.
        </span>

        <button class="btnEx" data-aos="fade-right" data-aos-delay="500" type="button">Explore Now</button>
      </div>
    </div>

    <div class="grid-7 menuHome2">

      <div class="floral1">
        <div class="row floralsub">
          <div class="col-6" data-aos="fade-right" data-aos-delay="450" >
            <img class="img-fluid imgmenu1" src="../../../assets/img/flores2.svg"
            alt>
          </div>

          <div class="col-6">
            <img class="img-fluid imgmenu2" src="../../../assets/img/menu1.svg" data-aos="fade-left" data-aos-delay="450" alt>
          </div>
        </div>
      </div>
      <div class="floral2">
        <img class="img-fluid imgmenu3"  src="../../../assets/img/flores.svg" alt>
      </div>




    </div>
  </div>
</section>

<section class="section2">
  <div class="container">
    <div class="row">
      <div class="grid-12">
        <p class="imgSection">
          <img src="../../../assets/icon/folhas.svg" alt="" class="imgMenu" data-aos="zoom-in-down" data-aos-delay="300">
        </p>

        <span class="title2" data-aos="zoom-in-down" data-aos-delay="400">Welcome to Nature</span>

        <span class="subtitle2" data-aos="zoom-in-down" data-aos-delay="450">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
          incididunt ut labore et dolore magna aliqua.</span>
        </div>

        <div class="col-md-3" data-aos="zoom-in-right" data-aos-delay="400">
          <div class="grid-12 mt-5 food">
            <p class="subimg">
              <img class="img-fluid imgCard mt-4" src="../../../assets/img/bacia.svg">
            </p>
            <p class="subimg">
              <img class="img-fluid imgCard2 mt-2" src="../../../assets/img/bacia2.svg">
            </p>
            <span class="titleimg mt-4 mb-3">Organic Food</span>
            <span class="subtitleimg mb-4">Lorem ipsum dolor sit <br> amet, consectetur</span>
          </div>
        </div>

        <div class="col-md-3" data-aos="fade-right" data-aos-delay="450">
          <div class="grid-12 mt-5 food">
            <p class="subimg">
              <img class="img-fluid imgCard mt-4" src="../../../assets/img/bacia.svg">
            </p>
            <p class="subimg">
              <img class="img-fluid imgCard2 mt-2" src="../../../assets/img/bacia2.svg">
            </p>
            <span class="titleimg mt-4 mb-3">Organic Food</span>
            <span class="subtitleimg mb-4">Lorem ipsum dolor sit <br> amet, consectetur</span>
          </div>
        </div>

        <div class="col-md-3" data-aos="fade-left" data-aos-delay="500">
          <div class="grid-12 mt-5 food">
            <p class="subimg">
              <img class="img-fluid imgCard mt-4" src="../../../assets/img/bacia.svg">
            </p>
            <p class="subimg">
              <img class="img-fluid imgCard2 mt-2" src="../../../assets/img/bacia2.svg">
            </p>
            <span class="titleimg mt-4 mb-3">Organic Food</span>
            <span class="subtitleimg mb-4">Lorem ipsum dolor sit <br> amet, consectetur</span>
          </div>
        </div>

        <div class="col-md-3" data-aos="zoom-in-left"  data-aos-delay="550">
          <div class="grid-12 mt-5 food">
            <p class="subimg">
              <img class="img-fluid imgCard mt-4" src="../../../assets/img/bacia.svg">
            </p>
            <p class="subimg">
              <img class="img-fluid imgCard2 mt-2" src="../../../assets/img/bacia2.svg">
            </p>
            <span class="titleimg mt-4 mb-3">Organic Food</span>
            <span class="subtitleimg mb-4">Lorem ipsum dolor sit <br> amet, consectetur</span>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section3">
    <div class="container">
      <div class="row">
        <div class="grid-12">


          <span class="title2 mt-5" data-aos="zoom-in-down" data-aos-delay="400">
            Proudly presented by</span>
            <span class="subtitle2 mt-4 mb-5" data-aos="zoom-in-down" data-aos-delay="450">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
              incididunt ut labore et dolore magna aliqua.
            </span>

            <div data-aos="zoom-in" data-aos-delay="550">
              <owl-carousel-o [options]="customOptions" >
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img1.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img2.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img3.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img2.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img1.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img1.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img2.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img3.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img2.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img1.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img1.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img2.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img3.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img2.svg" class="imgCarrosel">
                </ng-template>
                <ng-template carouselSlide>
                  <img src="../../../assets/carrossel/img1.svg" class="imgCarrosel">
                </ng-template>
              </owl-carousel-o>
            </div>


          </div>
        </div>
      </div>
    </section>

    <section class="section4">
      <div class="container-fluid">
        <div class="row">
          <div class="grid-12">

            <div class="grid-3" data-aos="fade-right" data-aos-delay="450">
              <img src="../../../assets/img/flores.svg" class="bgleft">
            </div>

            <div class="grid-6 contentC" data-aos="zoom-in" data-aos-delay="550">

              <owl-carousel-o [options]="slider" >
                <ng-template carouselSlide>
                  <img src="../../../assets/icon/ponto.svg" class="iconFolhas">
                  <img src="../../../assets/persona/jane.svg" class="imgCarrosel">
                  <p class="nametxt">Jane Doe</p>

                  <div class="starsdiv">
                    <div class="row">
                      <img src="../../../assets/persona/stars.ico" class="stars">
                      <img src="../../../assets/persona/stars.ico" class="stars">
                      <img src="../../../assets/persona/stars.ico" class="stars">
                      <img src="../../../assets/persona/stars.ico" class="stars">
                      <img src="../../../assets/persona/stars.ico" class="stars">
                    </div>
                  </div>

                  <p class="txt_persona">

                    Thank you for all the amazing produce and products you deliver each week…
                    you make my life so easy an bring goodness into our family eating.
                    I’ve been roasting a lot of brussel sprouts and</p>

                  </ng-template>

                  <ng-template carouselSlide>
                    <img src="../../../assets/icon/ponto.svg" class="iconFolhas">
                    <img src="../../../assets/persona/jane.svg" class="imgCarrosel">
                    <p class="nametxt">Jane Doe</p>

                    <div class="starsdiv">
                      <div class="row">
                        <img src="../../../assets/persona/stars.ico" class="stars">
                        <img src="../../../assets/persona/stars.ico" class="stars">
                        <img src="../../../assets/persona/stars.ico" class="stars">
                        <img src="../../../assets/persona/stars.ico" class="stars">
                        <img src="../../../assets/persona/stars.ico" class="stars">
                      </div>
                    </div>

                    <p class="txt_persona">

                      Thank you for all the amazing produce and products you deliver each week…
                      you make my life so easy an bring goodness into our family eating.
                      I’ve been roasting a lot of brussel sprouts and</p>

                    </ng-template>

                    <ng-template carouselSlide>
                      <img src="../../../assets/icon/ponto.svg" class="iconFolhas">
                      <img src="../../../assets/persona/jane.svg" class="imgCarrosel">
                      <p class="nametxt">Jane Doe</p>

                      <div class="starsdiv">
                        <div class="row">
                          <img src="../../../assets/persona/stars.ico" class="stars">
                          <img src="../../../assets/persona/stars.ico" class="stars">
                          <img src="../../../assets/persona/stars.ico" class="stars">
                          <img src="../../../assets/persona/stars.ico" class="stars">
                          <img src="../../../assets/persona/stars.ico" class="stars">
                        </div>
                      </div>

                      <p class="txt_persona">

                        Thank you for all the amazing produce and products you deliver each week…
                        you make my life so easy an bring goodness into our family eating.
                        I’ve been roasting a lot of brussel sprouts and</p>

                      </ng-template>

                      <ng-template carouselSlide>
                        <img src="../../../assets/icon/ponto.svg" class="iconFolhas">
                        <img src="../../../assets/persona/jane.svg" class="imgCarrosel">
                        <p class="nametxt">Jane Doe</p>

                        <div class="starsdiv">
                          <div class="row">
                            <img src="../../../assets/persona/stars.ico" class="stars">
                            <img src="../../../assets/persona/stars.ico" class="stars">
                            <img src="../../../assets/persona/stars.ico" class="stars">
                            <img src="../../../assets/persona/stars.ico" class="stars">
                            <img src="../../../assets/persona/stars.ico" class="stars">
                          </div>
                        </div>

                        <p class="txt_persona">

                          Thank you for all the amazing produce and products you deliver each week…
                          you make my life so easy an bring goodness into our family eating.
                          I’ve been roasting a lot of brussel sprouts and</p>

                        </ng-template>
                </owl-carousel-o>

              </div>

              <div class="grid-3" data-aos="fade-left" data-aos-delay="600">
                <img src="../../../assets/img/flores.svg" class="bgright">
              </div>

            </div>
          </div>
        </div>
      </section>

      <section class="section5">
        <div class="container">
          <div class="row">
            <div class="grid-12">
              <!--
                <img src="../../../assets/icon/ponto.svg" class="iconFolhas">
              -->

              <span class="titleS5 mt-5 mb-4" data-aos="zoom-in" data-aos-delay="350">Subscribe to Our Newsletter</span>
              <span class="subtitleS5" data-aos="zoom-in" data-aos-delay="400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua.
              </span>

              <div class="email" data-aos="fade-right" data-aos-delay="450">
                <p class="txtinput">
                  <input type="text" placeholder="Enter your email anddress"
                  class="input"spellcheck="false" >
                  <button  class="btnsec5" (click)="showModal()">Subscribe</button>
                </p>

              </div>

              <p class="algnS">
                <img src="../../../assets/icon/folhas.svg" class="imgMenu mt-5" data-aos="zoom-in" data-aos-delay="350">

                <span class="readTitle mt-3" data-aos="fade-right" data-aos-delay="400">Read Our Blog</span>

                <span class="readSub mt-3" data-aos="zoom-in" data-aos-delay="450">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
                  incididunt ut labore et dolore magna aliqua.
                </span>
              </p>

              <div class="grid-12 blogs ">
                <div class="row">
                    <div class="grid-4 mt-4" data-aos="fade-right" data-aos-delay="400">
                      <div class="products">
                        <img src="../../../assets/blog/bg1.svg" class="imgblog">
                          <span class="blogTitle mt-2">Blog Post One</span>
                          <span class="blogContent mb-2">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit do eiusmod.</span>
                          <span class="blogSub mb-2">Read More</span>
                      </div>
                    </div>

                    <div class="grid-4 mt-4" data-aos="zoom-in" data-aos-delay="500">
                      <div class="products">
                        <img src="../../../assets/blog/bg2.svg" class="imgblog">
                        <span class="blogTitle mt-2">Blog Post Two</span>
                        <span class="blogContent mb-2">Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit, sed
                           do eiusmod.</span>
                        <span class="blogSub mb-2">Read More</span>
                      </div>
                    </div>

                    <div class="grid-4 mt-4" data-aos="fade-left" data-aos-delay="450">
                      <div class="products">
                        <img src="../../../assets/blog/bg3.svg" class="imgblog">
                        <span class="blogTitle mt-2 ">Blog Post
                          Three</span>
                        <span class="blogContent mb-2">Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit, sed
                           do eiusmod.</span>
                        <span class="blogSub mb-2">Read More</span>
                      </div>
                    </div>

                </div>
              </div>




            </div>
          </div>
        </div>
      </section>

<a type="button" data-aos="zoom-in" data-aos-delay="700" href="#section1"  class="btnteste" id="top"></a>
