@import "src/scss/_variaveis.scss";
@import "src/scss/_grid.scss";
@import "src/scss/_mixin.scss";
@import "src/scss/_cores.scss";



.menuHome1{
  margin-top: 3.7rem;
  padding-top: 2%;
  @include linear-gradient(180deg, $menuop 47%, $branco 142%);
  height: 70vh;
}

.menuHome2{
  margin-top: 3.7rem;
  padding-top: 2%;
  @include linear-gradient(180deg, $menuop 47%, $branco 142%);
  height: 70vh;
  @include device(mobile){
    margin-top: 0rem;
    @include linear-gradient(180deg, $menuop -182%, $branco 142%);
  }
}
