@import "src/scss/_variaveis.scss";
@import "src/scss/_grid.scss";
@import "src/scss/_mixin.scss";
@import "src/scss/_cores.scss";


.teste1{
  background: $aqua;
  height: 70vh;
}

.teste2{
  background: $azul;
  height: 70vh;
}