@import "src/scss/_variaveis.scss";
@import "src/scss/_grid.scss";
@import "src/scss/_mixin.scss";
@import "src/scss/_cores.scss";


.section1{
  @include linear-gradient(180deg, $menuop 47%, $branco 142%);
  height: auto;
  overflow: hidden;
  @include device(mobile){
    height: auto;
  }
}
.menuHome1{
  margin-top: 3.7rem;
  padding-top: 2%;
  height: auto;
}

.menuHome2{
  margin-top: 3.7rem;
  padding-top: 2%;

  height: auto;
  @include device(mobile){
    margin-top: 0rem;

  }
}

.conteudoMenu{
  height: auto;
  @include p-m-padrao;
  margin-top: 5.5rem;
  @include device(table){
    margin-top: 3.5rem;
  }

  @include device(mobile){
    margin-top: 3.5rem;
  }
}

.title{
  @include marginupdown;
  @include basic;
  @include tipo-3(36);
  @include device (table){
    @include tipo-6(24);
  }
  color: $azul;
  display: block;
  line-height: 1;
}

.titleHiper{

  @include basic;
  @include tipo-5(56);


  @include device(large){
    @include marginupdown;
  }
  @include device (table){
    @include tipo-4(36);
    line-height: 1;
  }
  color: $azul;
  display: block;
  line-height: 1;
}

.conteudospan{
  @include marginupdown;
  @include basic;
  @include tipo-1(16);
  display: block;
  line-height: 1.5;
}

.btnEx{
  margin-top: 15px;
  display: block;
  @include marginupdown;
  @include btnsection1;
}


.imgmenu1{
  z-index: 0;
  max-width: 100%;
  margin-top: 25%;
  margin-left: 18%;
  transform: rotateZ(-9deg);
  overflow: hidden;
}
.imgmenu2{
  z-index: -1;
  max-width: 66%;
  margin-top: 36%;
  margin-left: -12%;
  overflow: hidden;
}

.imgmenu3{
  max-width: 75%;
  margin-left: 17%;
}

.floral1{
  position: absolute;
}

.floralsub{
  overflow: hidden;
}

.section2{
  @include p-m-padraocols;
  background: $branco;
  height: auto
}

.imgSection{
  @include alignImg;
}

.imgMenu{
  @include tamanhoimg;
}

.title2{
  @include alignImg;
  @include marginupdown;
  @include basic;
  @include tipo-3(36);
  @include device (table){
    @include tipo-6(24);
  }
  color: $azul;
  display: block;
  line-height: 1;
}

.subtitle2{
  @include alignImg;
  @include tipo-3(16);
  @include margintext;
  color: $azul;
  display: block;
}
.subimg{
  @include alignImg;
}

.food{
  @include gridFood;
}

.section3{
  background:$verdeclaro;
  height: auto;
  @include p-m-padraocols;
}

.imgCarrosel{
  height: 6.25rem;
  margin-top: 20px;
  margin-bottom: 30px;
  &:hover,&:focus{
    transform: scale(1.1);
    transition: 0.3s;
    @include device (mobile){
      transform: scale(1.05)
    }
  }
}

.section4{
  background: $branco;
  height: 100vh;
  overflow: hidden;
  @include p-m-padraocols;
  @include device(mobile){
    height: auto;
  }
}

.bgleft{
  width: 45rem;
  margin-left: -26rem;
  margin-top: 3rem;
  position: absolute;
  @include device(table){
    margin-left: -35rem;
  }
  @include device (mobile){
    width: 40rem;
    position: initial;
    margin-top: -9rem;
  }
}

.contentC{
  @include p-m-padraocols;
  @include device(large){
    padding-top: 75px !important;
  }
}

.iconCenter{
  @include alignImg;
}

.iconFolhas{
  width: 40px !important;
  margin-left:calc(100% - 53.5%);
  @include device(table){
    margin-left:calc(100% - 57%)
  }

  @include device(mobile){
    margin-left: 11.7rem;
  }
}

.nametxt{
  @include tipo-6(24);
  @include alignImg;
  color: $azul;
  margin-bottom: 2rem;
  &:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.txt_persona{
  @include tipo-1(16);
  @include alignImg;
  color: $azul;
  margin-top: 1rem;
  &:hover{
    transform: scale(1.03);
    transition: 0.3s;
  }
}

.starsdiv{
  margin-left: calc(100% - 58.5%);
  @include device(table){
    margin-left: calc(100% - 71.5%);
  }@include device(mobile){
    margin-left: calc(100% - 62.5%);
  }

}

.stars{
  width: 20px !important;
  &:hover{
    transform: scale(1.5);
    transition: 0.3s;
  }
}



.bgright{
  width: 42rem;
  margin-top: -1rem;
  @include device(table){
    margin-left: 2rem;
    margin-top: 1rem;
  }

  @include device(mobile){
    width: 40rem;
    margin-top: -1rem;
    margin-left: 13rem;
    margin-bottom: -10rem;
  }
}

.section5{
  background: $verdeclaro;
  height: auto;
  @include p-m-padraocols
}

.titleS5{
  display: block;
  @include tipo-3(36);
  @include alignImg;
  color: $azul;

}

.subtitleS5{
  display: block;
  @include tipo-1(16);
  @include alignImg;
  color: $azul;
}

.txtinput{
  text-align: center;
}

.email{
  margin-top: 5rem;
}

.input{
  margin-right: -1rem;
  border: none;
  width: 17rem;
  max-width: 90%;
  height: 2rem;
  color: $cinza-escuro;
  @include tipo-1(16);
  font-weight: bold;

  &::placeholder{
    color: $cinza-escuro;
    font-size: 14px;
    font-weight: 400;
  }

  &:hover,&:focus{
    outline: none;
    transition: 0.3s;
  }
}


.btnsec5{
  @include btnInput
}

.algnS{
  text-align: center;
}

.readTitle{
  display: block;
  @include tipo-3(36);
  color: $azul;
}

.readSub{
  display: block;
  @include tipo-1(16);
  color: $azul;
}



.products{
  @include marginblog;
  height: auto;
  background:$branco;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  &:hover,&:focus{
    transition: 0.3s;
    transform: scale(1.03);
    border: 2px solid $aqua;
  }
}

.imgblog{
  width: 100%;
}

.blogTitle{
  @include tipo-2(18);
  line-height: 1.5;
  color: $aqua;
  padding:10px;
  @include alignImg;
  display: block;
  &:hover,&:focus{
    transition: 0.3s;
    transform: scale(1.05);
  }
}

.blogContent,.blogSub{
  @include tipo-1(16);
  padding:7px;
  line-height: 1.5;
  color: $azul;
  @include alignImg;
  display: block;
  &:hover,&:focus{
    transition: 0.3s;
    transform: scale(1.05);
  }
}

.blogs{
  overflow: hidden;
  height: 80vh;
}

