$font-1:'Libre Baskerville', serif;
$font-2:'Libre Baskerville';


@function em($pixel, $contexto : 16){
  @return $pixel / $contexto + em;
}

//
@mixin tipo-1($size){
  font-family: $font-2;
  @if $size == 16{
    font-size: em(16);
    line-height: em(1,5);
    font-weight: 400;
  }
}

@mixin tipo-2($size){
  font-family: $font-1;
  @if $size == 18{
    font-size: em(18);
    line-height: em(30,18);
  }
}

@mixin tipo-3($size){
  font-family: $font-1;
  @if $size == 36{
    font-size: em(36);
    line-height: em(1,5);
  }
}

@mixin tipo-4($size){
  font-family: $font-1;
  @if $size == 42{
    font-size: em(42);
    line-height: em(1);
    font-weight: bold;
  }
}

@mixin tipo-5($size){
  font-family: $font-1;
  @if $size == 56{
    font-size: em(56);
    line-height: em(1);
    font-weight: bold;
  }
}

@mixin tipo-6($size){
  font-family: $font-1;
  @if $size == 24{
    font-size: em(24);
    line-height: em(1);
    font-weight: bold;
  }
}

@mixin box-shadow($shadow...){
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  box-shadow: $shadow;
}

@mixin linear-gradient($direction, $color-stops...) {
  background: linear-gradient($direction, $color-stops);
}

@mixin basic {
  text-align: left;
  text-decoration: none;
}

@mixin marginupdown{
  padding-bottom:5px ;
}

@mixin p-m-padrao{
  padding:10px 10px 10px 30px;
  @include device(table){
    padding:10px 10px 10px 20px;
  }
  @include device(mobile){
    padding:10px ;
  }
}

@mixin menuli{
  margin-top: 10px;
  &:hover ,&:focus{
    border-bottom: 4px solid $aqua;
    transition-delay: 0.05s;
    @include device(table){
      border-bottom: 0px solid $aqua;
      transform: scale(1.05);
    }
    @include device(mobile){
      border-bottom: 0px solid $aqua;
      transform: scale(1.01);
    }
  }
}
  //btn menu
  @mixin btn-menu{
    @include tipo-1(16);
    background: transparent;
    border-radius: 25px;
    border:2px solid $aqua;
    text-align: center;
    text-transform: capitalize;
    color: $aqua;
    width: 8.5rem;
    height: 2.5rem;
    text-decoration: none;
    @include device(table){
      width: 100%;
      margin-top: 10px;
    }

    @include device(mobile){
      width: 100%;
      margin-top: 10px;
    }

    &:hover,&:focus{
      background: $aqua;
      color:$branco;
      outline: none;
      transition: 0.3s;
      transform: scale(1.1);
      margin-left: 10px;
      @include device(table){
        margin-left: 0px;
        transform: scale(1.01);
      }
      @include device(mobile){
        margin-left: 0px;
        transform: scale(1.05);
      }
    }
  }


  @mixin btnsection1{
    padding-top: 8px;
    @include tipo-1(16);
    background: $aqua;
    border-radius: 15px;
    text-align: center;
    text-transform: capitalize;
    color: $branco;
    width: 8.5rem;
    height: 2.5rem;
    transition: 0.3s;
    border: 2px solid transparent;

    @include device(table){
      width: 100%;
      margin-top: 10px;
    }

    @include device(mobile){
      width: 100%;
      margin-top: 10px;
    }
    &:hover,&:focus{
      outline: none;
      transform: scale(1.1);
      @include device(table){
        transform: scale(1.01);
      }
      @include device(mobile){
        transform: scale(1.05);
      }
    }
  }


  @mixin scrollbar{
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #F1FEFE;
    }

    ::-webkit-scrollbar-thumb {
      background: #374B5C;
      border-radius:10px
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #324352;;
    }
  }
