<div class="grid-12 footer">
  <div class="container">
    <div class="row">
      <div class="grid-5" data-aos="fade-right" data-aos-delay="450">
        <span>
          <img src="../../../../assets/img/footericon.svg" >
          <span class="title">organic</span>
        </span>



        <span class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor
        </span>
        <hr>
        <span class="cop">© Copyright 2021 Nature</span>

      </div>

      <div class="grid-2 lilest" data-aos="fade-right" data-aos-delay="450">
        <span class="info">Information</span>

        <hr>

        <ul>
          <li ><a routerLink="">About Us</a></li>
          <li><a routerLink="">Products</a></li>
          <li><a routerLink="">Contant Us</a></li>
          <li><a routerLink="">Terms of Service</a></li>
        </ul>
      </div>

      <div class="grid-2 lilest2" data-aos="fade-right" data-aos-delay="450">
        <ul>
          <li><a routerLink="">About Us</a></li>
          <li><a routerLink="">Products</a></li>
        </ul>
      </div>

      <div class="grid-3" data-aos="fade-right" data-aos-delay="450">
        <span class="info d-block" data-aos="fade-right" data-aos-delay="400">Follow Us</span>
        <hr>
       <a href="https://www.linkedin.com/in/viniciosbarbosaa/" target="_blank" data-aos="zoom-in-down" data-aos-delay="300"> <img src="../../../../assets/icon/fb.svg" class="imgfooter p-2"></a>
       <a href="https://www.linkedin.com/in/viniciosbarbosaa/" data-aos="zoom-in-down" data-aos-delay="350" target="_blank">
         <img src="../../../../assets/icon/lk.svg"
        class="imgfooter p-2">
      </a>
        <a href="https://www.linkedin.com/in/viniciosbarbosaa/" data-aos="zoom-in-down" data-aos-delay="400" target="_blank"><img src="../../../../assets/icon/tw.svg" class="imgfooter p-2"></a>
       <a href="https://www.linkedin.com/in/viniciosbarbosaa/" data-aos="zoom-in-down" data-aos-delay="450" target="_blank"><img src="../../../../assets/icon/in.svg" class="imgfooter p-2"></a>
      </div>

    </div>
  </div>
</div>


